// Variables globales para SASS
$main-font: 'Roboto';
$background-color: #fff;
$text-color: #181c24;
$primary: #B119FA;
$secondary: #181c24;
$card-radius: 12px;
$shadow: 0 2px 12px rgba(0,0,0,0.10);
$shadow-hover: 0 6px 24px rgba(0,0,0,0.18);
